<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link th:href="@{/frontdesk/orderlist/css/orderlist.css}" rel="stylesheet"/>
    <title>订单列表</title>
</head>
<body>
<!--包含头部-->
<div th:include="@{/frontdesk/head/head}"></div>

<!-- 模版数据 -start -->
    <div style="margin: 0 auto;width:1200px;">
        <dl class="Order_information">
            <dt>
                <h3>订单信息</h3>
            </dt>
            <dd style="line-height: 26px;">
                订单编号：23456
                <br />
                下单时间：today
                <br />
                订单金额：250
                <br />
                支付状态：
                    <font color="red">未支付</font>&nbsp;&nbsp;
                    <font color="blue">已支付</font>&nbsp;&nbsp;
                <a href="javascript:void(0)" class="del" id="${orderInfo.order.id }">
                    <img src="${app}/img/orderList/sc.jpg" width="69" height="19"/>
                </a>
                &nbsp;
                <a href="#">
                    <img src="${app}/img/orderList/zx.jpg" width="69" height="19"/>
                </a>
                <br />
                所属用户：${ user.username }
                <br/>
                收货地址：${ orderInfo.order.receiverinfo }
                <br/>
                支付方式：在线支付
            </dd>
        </dl>

        <table width="1200" border="0" cellpadding="0"
               cellspacing="1" style="background:#d8d8d8;color:#333333">
            <tr>
                <th width="276" height="30" align="center" valign="middle" bgcolor="#f3f3f3">商品图片</th>
                <th width="247" align="center" valign="middle" bgcolor="#f3f3f3">商品名称</th>
                <th width="231" align="center" valign="middle" bgcolor="#f3f3f3">商品单价</th>
                <th width="214" align="center" valign="middle" bgcolor="#f3f3f3">购买数量</th>
                <th width="232" align="center" valign="middle" bgcolor="#f3f3f3">总价</th>
            </tr>

                <tr>
                    <td align="center" valign="middle" bgcolor="#FFFFFF">
                        <img src="${app}/servlet/ProdImgServlet?imgurl=${ entry.key.imgurl }" width="90" height="105"/>
                    </td>
                    <td align="center" valign="middle" bgcolor="#FFFFFF">${ entry.key.name }</td>
                    <td align="center" valign="middle" bgcolor="#FFFFFF">${ entry.key.price }元</td>
                    <td align="center" valign="middle" bgcolor="#FFFFFF">${ entry.value }件</td>
                    <td align="center" valign="middle" bgcolor="#FFFFFF">${ entry.key.price * entry.value }元</td>
                </tr>

        </table>
        <div class="Order_price">${ orderInfo.order.money }元</div>
    </div>

<!--包含脚部-->
<div th:include="@{/frontdesk/foot/foot}"></div>

</body>
</html>
